/**
 * Code7 Theme based on CamelTheme
 *
 * @author: Camel Community >
 * 
 */

html {
  font-family: 'Monaco';
  font-size: 10pt;
  background-color: rgba(88, 88, 88, 0.58);
  color: #e69b19;
  line-height: 1.4em;
}
body {
    background-image: url('img/pixelcamel.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;

}

.url { color: #408dd2; }
.address {}
.highlight {
  font-weight: normal;
  color: #e28964;
}

.line { background: rgba(88, 88, 88, 0.58); }
.line[alternate=even] {background: rgba(88, 88, 88, 0.11); }
.line[alternate=odd] {
  background: rgba(88, 88, 88, 0.58);
}
.line[highlight=true] {
  background: rgba(88, 88, 88, 0.58);
}

/* Handle the overload of non important messages by ignoring them 
.line[type=join], .line[type=part], .line[type=quit], .console .time { display: none; }
*/


.console { font-size: 8pt; }
.time { color: #222; }
.place { color: #3387bc; }

.sender[type=normal] { color: #3e87e3; }
.sender[type=myself] { color: #89bdff; }

.message[type=privmsg] {}
.message[type=notice] { color: black; background-color: rgba(88, 88, 88, 0.58);  }
.message[type=action] { color: #8f9d6a;}

.message[type=system], .message[type=join], .message[type=part], .message[type=kick],
.message[type=quit], .message[type=kill], .message[type=nick], .message[type=mode],
.message[type=topic], .message[type=invite], .message[type=wallops] {
  color: black;
}
.message[type=reply] { color: #e28964; }

.message[type=error], .message[type=error_reply] { color: #f67b37; }
.message[type=dcc_send_send] { color: #c5af75; }
.message[type=dcc_send_receive] { color: #f9ee98; }
.message[type=debug_send] { color: #8996a8; }
.message[type=debug_receive] { color: #afc4db; }
